@media(max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
  }

  .navbar .nav-links {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: #311e54;
  display: none;
  flex-direction: column;
  text-align: center;
  z-index: 1000;
  }

  .navbar .nav-links.open {
    display: flex;
  }

  .navbar .nav-links li {
    margin: 15px 0;
  }

  .navbar .menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
  }

  .navbar .auth-buttons,
  .navbar .search {
    display: none; 
  }

  .search input {
    width: 150px;
  }

  .carousel-caption{
    top: 10%
  }

  .about-row {
    flex-direction: column;
    text-align: center;
  }
  
  .about-row.reverse {
    flex-direction: column-reverse;
  }
  .contact-row {
    flex-direction: column;
    text-align: center;
  }

  .contact-form {
    align-items: center;
  }

  .contact-form form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
} 
  