.navbar {
    background-color: $purple;
    @include flex-center(20px, row, space-between);
    padding: 10px 20px;
    flex-wrap: wrap;
    position: relative;

  .logo {
        width: 200px;
    }

  .nav-links {
        display: flex;
        list-style: none;
        gap: 15px;

        li a {
            color: $white;
            text-decoration: none;
            font-weight: 600;
            
            &:hover{
                color: $purple700;
            }
        }
        
    }

   .menu-toggle {
        display: none;
        font-size: 2rem;
        color: $white;
        background: none;
        border: none;
        cursor: pointer;
    }

    .search {
        @include flex-center(10px);

        input {
            width: 300px;
            padding: 7px 16px;
            border-radius: 5px;
            border:  1px solid #ccc;
        }

        button{
            padding: 8px 16px;
            background-color: $white;
            color: $purple;
            border: 1px solid $purple;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $purple700;
                color: $white;
            }
        }
    }

    .auth-buttons {
        @include flex-center(10px);
        

        a {
            color: $white;
            border: 1px solid $white;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: 600;

            &:hover {
                background-color: $purple700;
                color: $white;
            }
        }
    }
}
