%btn-shared {
    background-color: $purple;
    color: $white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
  
.btn {
    @extend %btn-shared;
  
    &:hover {
      background-color: $purple700;
    }
}
  